# US Population 2020- 2024

In [3]:
import pandas as pd

In [21]:
df = pd.read_csv('NST-EST2024-ALLDATA.csv')

In [22]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'ESTIMATESBASE2020',
       'POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022',
       'POPESTIMATE2023', 'POPESTIMATE2024', 'NPOPCHG_2020', 'NPOPCHG_2021',
       'NPOPCHG_2022', 'NPOPCHG_2023', 'NPOPCHG_2024', 'BIRTHS2020',
       'BIRTHS2021', 'BIRTHS2022', 'BIRTHS2023', 'BIRTHS2024', 'DEATHS2020',
       'DEATHS2021', 'DEATHS2022', 'DEATHS2023', 'DEATHS2024',
       'NATURALCHG2020', 'NATURALCHG2021', 'NATURALCHG2022', 'NATURALCHG2023',
       'NATURALCHG2024', 'INTERNATIONALMIG2020', 'INTERNATIONALMIG2021',
       'INTERNATIONALMIG2022', 'INTERNATIONALMIG2023', 'INTERNATIONALMIG2024',
       'DOMESTICMIG2020', 'DOMESTICMIG2021', 'DOMESTICMIG2022',
       'DOMESTICMIG2023', 'DOMESTICMIG2024', 'NETMIG2020', 'NETMIG2021',
       'NETMIG2022', 'NETMIG2023', 'NETMIG2024', 'RESIDUAL2020',
       'RESIDUAL2021', 'RESIDUAL2022', 'RESIDUAL2023', 'RESIDUAL2024',
       'RBIRTH2021', 'RBIRTH2022', 'RBIRTH2023', 'RBIRTH2024', 'RDEATH2021',
       'RDEATH2022', 'RDEATH2023', 'RDEATH2024', 'RNATURALCHG2021',
       'RNATURALCHG2022', 'RNATURALCHG2023', 'RNATURALCHG2024',
       'RINTERNATIONALMIG2021', 'RINTERNATIONALMIG2022',
       'RINTERNATIONALMIG2023', 'RINTERNATIONALMIG2024', 'RDOMESTICMIG2021',
       'RDOMESTICMIG2022', 'RDOMESTICMIG2023', 'RDOMESTICMIG2024',
       'RNETMIG2021', 'RNETMIG2022', 'RNETMIG2023', 'RNETMIG2024'],
      dtype='object')

In [23]:
df = df[df.STATE != 0 ][['STATE', 'NAME','POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022',
       'POPESTIMATE2023', 'POPESTIMATE2024']]

In [24]:
df.head(2)

,STATE,NAME,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023,POPESTIMATE2024
14,1,Alabama,5033094,5049196,5076181,5117673,5157699
15,2,Alaska,733017,734420,734442,736510,740133

In [25]:
states_abbreviation = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

# invert the dictionary
# abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

df['states_code'] = [states_abbreviation[x] for x in df.NAME]
df

,STATE,NAME,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023,POPESTIMATE2024,states_code
14,1,Alabama,5033094,5049196,5076181,5117673,5157699,AL
15,2,Alaska,733017,734420,734442,736510,740133,AK
16,4,Arizona,7187135,7274078,7377566,7473027,7582384,AZ
17,5,Arkansas,3014546,3026870,3047704,3069463,3088354,AR
18,6,California,39521958,39142565,39142414,39198693,39431263,CA
19,8,Colorado,5787129,5814036,5850935,5901339,5957493,CO
20,9,Connecticut,3579918,3606607,3617925,3643023,3675069,CT
21,10,Delaware,991928,1005062,1020625,1036423,1051917,DE
22,11,District of Columbia,670917,669256,676725,687324,702250,DC
23,12,Florida,21592035,21831949,22379312,22904868,23372215,FL
24,13,Georgia,10732888,10792060,10931805,11064432,11180878,GA
25,15,Hawaii,1451252,1447029,1440359,1441387,1446146,HI
26,16,Idaho,1849415,1904848,1944299,1971122,2001619,ID
27,17,Illinois,12799088,12700641,12621821,12642259,12710158,IL
28,18,Indiana,6790497,6815907,6844545,6880131,6924275,IN
29,19,Iowa,3191141,3198613,3202820,3218414,3241488,IA
30,20,Kansas,2938172,2938338,2937324,2951500,2970606,KS
31,21,Kentucky,4508318,4507583,4519233,4550595,4588372,KY
32,22,Louisiana,4652301,4627971,4593687,4588071,4597740,LA
33,23,Maine,1364571,1378931,1390922,1399646,1405012,ME
34,24,Maryland,6177935,6179403,6192440,6217062,6263220,MD
35,25,Massachusetts,6994598,7000474,7022468,7066568,7136171,MA
36,26,Michigan,10072703,10041351,10050877,10083356,10140459,MI
37,27,Minnesota,5710735,5718660,5721621,5753048,5793151,MN
38,28,Mississippi,2958536,2947209,2941939,2943172,2943045,MS
39,29,Missouri,6154744,6171374,6179414,6208038,6245466,MO
40,30,Montana,1087230,1106522,1122095,1131302,1137233,MT
41,31,Nebraska,1963387,1964537,1972246,1987864,2005465,NE
42,32,Nevada,3116967,3148141,3176116,3214363,3267467,NV
43,33,New Hampshire,1378756,1387677,1396678,1402199,1409032,NH
44,34,New Jersey,9272794,9270541,9295227,9379642,9500851,NJ
45,35,New Mexico,2118606,2117333,2113868,2121164,2130256,NM
46,36,New York,20105171,19848276,19703747,19737367,19867248,NY
47,37,North Carolina,10449652,10564320,10710793,10881189,11046024,NC
48,38,North Dakota,779563,777966,781057,789047,796568,ND
49,39,Ohio,11798905,11767344,11777874,11824034,11883304,OH
50,40,Oklahoma,3965415,3992238,4026229,4063882,4095393,OK
51,41,Oregon,4243779,4254280,4247372,4253653,4272371,OR
52,42,Pennsylvania,12996143,13015571,12984990,13017721,13078751,PA
53,44,Rhode Island,1096530,1097246,1099498,1103429,1112308,RI
54,45,South Carolina,5132249,5194274,5287935,5387830,5478831,SC
55,46,South Dakota,887948,896492,909723,918305,924669,SD
56,47,Tennessee,6927904,6965740,7062217,7148304,7227750,TN
57,48,Texas,29239570,29570351,30113488,30727890,31290831,TX
58,49,Utah,3284077,3339738,3391011,3443222,3503613,UT
59,50,Vermont,642977,647210,648142,648708,648493,VT
60,51,Virginia,8637615,8658910,8683414,8734685,8811195,VA
61,53,Washington,7727209,7743760,7794123,7857320,7958180,WA
62,54,West Virginia,1791646,1785618,1774122,1770495,1769979,WV
63,55,Wisconsin,5897375,5881608,5903975,5930405,5960975,WI
64,56,Wyoming,577681,579636,581978,585067,587618,WY
65,72,Puerto Rico,3281590,3262711,3220137,3203792,3203295,PR

In [26]:
df.columns

Index(['STATE', 'NAME', 'POPESTIMATE2020', 'POPESTIMATE2021',
       'POPESTIMATE2022', 'POPESTIMATE2023', 'POPESTIMATE2024', 'states_code'],
      dtype='object')

In [27]:
df.rename({'STATE':'id', 'NAME':'states','POPESTIMATE2020': 2020, 'POPESTIMATE2021':2021, 'POPESTIMATE2022':2022, 'POPESTIMATE2023':2023, 'POPESTIMATE2024': 2024}, axis=1, inplace=True)

In [28]:
df.head(2)

    id   states     2020     2021     2022     2023     2024 states_code
14   1  Alabama  5033094  5049196  5076181  5117673  5157699          AL
15   2   Alaska   733017   734420   734442   736510   740133          AK

In [30]:
# Reshape the DataFrame
df_reshaped = pd.melt(df, id_vars=['states', 'states_code', 'id'], var_name='year', value_name='population')

In [31]:
df_reshaped.head()

       states states_code  id  year  population
0     Alabama          AL   1  2020     5033094
1      Alaska          AK   2  2020      733017
2     Arizona          AZ   4  2020     7187135
3    Arkansas          AR   5  2020     3014546
4  California          CA   6  2020    39521958

In [33]:
# Convert 'year' column values to integers
df_reshaped['states'] = df_reshaped['states'].astype(str)
df_reshaped['year'] = df_reshaped['year'].astype(int)
#df_reshaped['population'] = df_reshaped['population'].str.replace(',', '').astype(int)

df_reshaped

            states states_code  id  year  population
0          Alabama          AL   1  2020     5033094
1           Alaska          AK   2  2020      733017
2          Arizona          AZ   4  2020     7187135
3         Arkansas          AR   5  2020     3014546
4       California          CA   6  2020    39521958
..             ...         ...  ..   ...         ...
255     Washington          WA  53  2024     7958180
256  West Virginia          WV  54  2024     1769979
257      Wisconsin          WI  55  2024     5960975
258        Wyoming          WY  56  2024      587618
259    Puerto Rico          PR  72  2024     3203295

[260 rows x 5 columns]